@import "tailwindcss";

@layer utilities {
  /* Custom Scrollbar Styles */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-slate-900;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-700/50 rounded-full hover:bg-slate-600/80 transition-colors;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.slate.700') theme('colors.slate.900');
  }
}

@layer components {
    .action-section {
        @apply border border-slate-800 rounded-xl px-4 py-3 flex gap-4 items-start;
    }
    .container-panel {
        @apply flex flex-col p-1 gap-4 w-full shadow-2xl rounded-xl border border-slate-800/80 bg-inherit;
    }
    .upper-panel {
        @apply flex flex-col md:flex-row gap-6;
    }
    .lower-panel {
        @apply flex flex-col md:flex-row flex-1 gap-6 bg-inherit;
    }
    .left-panel {
        @apply p-3 rounded-lg shadow-xl ring-4 ring-offset-2 ring-indigo-400/10 ring-offset-transparent h-full bg-inherit md:w-[55%] flex flex-col;
    }
    .right-panel {
        @apply p-3 rounded-lg shadow-xl ring-4 ring-offset-2 ring-indigo-400/10 ring-offset-transparent h-full bg-inherit flex-1 w-full flex flex-col items-start justify-start;
    }
}
